<%= render partial: "shared/userbar", locals: {
    photo: @user.photo,
    username: @user.name,
    post_number: @user.posts_counter,
    id: @user.id
    } 
%>
<%@posts.each do |post| %>
  <% if can? :read, post %>
    <article class="post-container">
        <h3 class="title"><%= link_to "#{post.title}", "/users/#{@user.id}/posts/#{post.id}" %></h3>
        <p class="text"><%= post.text %></p>
        <div class="comment-like-container">
            <p class='comments'>Comments: <%= post.comments_counter %></p>
            <p class='likes'>Likes:  <%= post.likes_counter %></p>
        </div>
    </article>
    <article class="post-container">
        <% post.more_recent_comments.each do |comment| %>
            <p><%=@users.find(comment.author_id).name %> : <%= comment.text %></p>
        <%end%>
    </article>
    <% end %>
<%end%>