<article class="post-container">
    <div class="post-header">
        <h3 class="title-author"><%= @post.title %> by <%= @user.name %></h3>
        <div class="comment-like-container">
            <p class="comments-counter">Comments: <%= @post.comments_counter %></p>
            <p class="likes-counter">Likes:  <%= @post.likes_counter %></p>
            <% if can? :create, Like %>
                <%= link_to user_post_likes_path(@user.id, @post), method: :post do  %>
                    <i class="fa fa-thumbs-up"></i>
                <%end%>
            <% end %>
            <% if can? :delete, @post %>
              <%= button_to 'Delete', "/posts/#{@post.id}/delete", method: :delete %>
            <% end %>
        </div>
    </div>
    <p class="text"><%= @post.text %></p>
</article>
<article class="post-container comments-container">
    <% @post.comments.each do |comment| %>
        <p><%=@users.find(comment.author_id).name %>: <%= comment.text %></p>
    <%end%>
</article>
<%= render "shared/add_comment" %>